<!-- instead of lg used md here so that pn medium size page also we could see our navbar. And for small size it will contrast. -->
<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarNavAltMarkup" 
            aria-controls="navbarNavAltMarkup" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add new listings</a>
        </div>
      </div>
    </div>
  </nav>

  <!-- hya code la body tag or head tags madhe nhi takly ha code fkt nav cha ahe so apn yachya body la nhi hya code lach include krnar ee fkt hence apn "include tags" use krnar boilerplate file madhe -->