<% layout("./layouts/boilerplate") -%>
<body>
    <h4>WELCOME TO THE ROOT </h4>
    <form action="/listings" method="get">
        <button class="a-btn">All Listings</button>
    </form>
</body>
</html>